<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] W3Schools Online Web Tutorials</title>
    <link rel="icon" href="~/image/favicon.ico" />
    <!--bootstrap, jquery w3schools-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--devextreme-->
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.6/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.6/css/dx.light.css" />
    <script src="https://unpkg.com/devextreme-quill/dist/dx-quill.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/21.1.6/js/dx.all.js"></script>
    <!--front-end-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,900&display=swap" rel="stylesheet">
    <link href="~/css/base.css" rel="stylesheet" />
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
    <!-- live code js-->
    <script src="~/js/editor.js"></script>
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <!--codemirror lib-->
    <script src="~/lib/codemirror/lib/codemirror.js"></script>
    <link href="~/lib/codemirror/lib/codemirror.css" rel="stylesheet" />
    <link href="~/lib/codemirror/theme/3024-day.css" rel="stylesheet" />
    <script src="~/lib/codemirror/addon/edit/closebrackets.js"></script>
    <script src="~/lib/codemirror/addon/edit/closetag.js"></script>
    <script src="~/lib/codemirror/addon/runmode/colorize.js"></script>
    @*<script src="~/lib/codemirroraddon/hint/show-hint.js"></script>
        <script src="~/lib/codemirror/addon/hint/xml-hint.js"></script>
        <script src="~/lib/codemirror/addon/hint/html-hint.js"></script>*@
    <script src="~/lib/codemirror/mode/xml/xml.js"></script>
    <script src="~/lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/lib/codemirror/mode/css/css.js"></script>
    <script src="~/lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>



    @*<script src="~/lib/codemirror/addon/scroll/simplescrollbars.js"></script>*@
</head>
<body>
    <div class="app">
        <header class="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
                <div class="container-fluid">
                    <a class="navbar-branch" href="#">
                        <img src="~/image/favicon.ico" height="50" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="nav-menu collapse navbar-collapse" id="navbarResponsive">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Giới thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Nâng cao</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Responsive</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Lưới</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sass</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ví dụ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tham chiếu</a>
                            </li>
                        </ul>
                    </div>
                    <div id="acc">
                        <div class="account">
                            <div class="login">
                                <a href="@Url.Action("Login","Auth")">Đăng Nhập</a>
                            </div>
                            <div class="register">
                                <a href="@Url.Action("Signup","Auth")">Đăng Ký</a>
                            </div>
                        </div>
                    </div>
    <form class="form-inline" action="/action_page.php">
        <input class="search-input form-control mr-sm-2" type="text" placeholder="Tìm kiếm" />
        <button class="btn btn-success btn-search" type="submit">Tìm kiếm</button>
    </form>
</div>
            </nav>
        </header>
        <div class="main">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="sidebar">
                                <ul class="sidebar-list">
                                    <li class="sidebar-item active"><a href="" class="sidebar-link">CSS Home</a></li>                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-10">
                            <div class="main-content">
                                <h1 class="content-title"></h1>
                                <div class="btn-prevnext">
                                    <a href="" class="btn-link btn-prev">
                                        <i class="fas fa-chevron-left"></i>
                                        Trước
                                    </a>
                                    <a href="" class="btn-link btn-next">
                                        Kế tiếp
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                                <!--body here-->
                                <div id="content-body" class="content-body">
                                    @RenderBody()
                                </div>
                                <div class="btn-prevnext">
                                    <a href="" class="btn-link btn-prev">
                                        <i class="fas fa-chevron-left"></i>
                                        Trước   
                                    </a>
                                    <a href="" class="btn-link btn-next">
                                        Kế tiếp
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                                <hr />
                                <footer class="footer">
                                    <p class="w3-decription">
                                        W3Schools được tối ưu hóa cho việc học tập và đào tạo. Các ví dụ có thể được đơn giản hóa để cải thiện việc đọc và học. Các hướng dẫn, tài liệu tham khảo và ví dụ được xem xét liên tục để tránh sai sót, nhưng chúng tôi không thể đảm bảo tính đúng đắn hoàn toàn của tất cả nội dung. Trong khi sử dụng W3Schools, bạn đồng ý đã đọc và chấp nhận các điều khoản sử dụng, cookie và chính sách bảo mật của chúng tôi.  
                                    </p>
                                    <p class="w3-copyright">
                                        Bản quyền 1999-2021 bởi Refsnes Data. Đã đăng ký Bản quyền. <br />
                                        W3Schools được cung cấp bởi W3.CSS .
                                    </p>
                                    <a href="" class="logo-link"><img src="~/image/favicon.ico" alt="" /></a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


